
@{
    ViewBag.Title = "Forbidden";
}
<br />
<h2 style="color:white; background-color:lightcoral; font-weight:bold; text-align:center">Forbidden</h2>

<p style="font-size:20px; text-align:center">
    The Page you have requested is not available.<br />
    Feel free to check out <a href="http://localhost:44354/Cars"><em>our fleet</em></a>.
    You can rent a car by contacting our employees.<br />
    Enjoy!
</p>
