@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row mx-auto rounded" align="center" style="background-color: whitesmoke; padding: 60px 20px 60px 20px; margin: -13px 0 0 0; width:87%; ">
        <section class="col-md-4" aria-labelledby="img1">
            <img class="img-rounded img-responsive" src="~/Content/img1.jpg" width="300" height="200"/>
        </section>
        <section class="col-md-4" aria-labelledby="img2">
            <img class="img-rounded img-responsive" src="~/Content/img2.jpg" width="300" height="200" />
        </section>
        <section class="col-md-4" aria-labelledby="img3">
            <img class="img-rounded img-responsive" src="~/Content/img3.jpeg" width="300" height="200" />
        </section>
    </div>

    <div class="row" align="left" style=" padding: 25px; margin: 0 50px 0 50px;">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Auto Sales Are Down. Here's Why They'll Continue To Fall.</h2>
            <p>
                So far, the slowdown in new vehicle sales is slow and gradual. Through the first two months of 2018 they have slipped a barely noticeable 0.8%. 
                That is about to change. Auto loan interest rates are now at levels not seen since 2010-an average of 5.2% in February...
            </p>
            <p><a class="btn btn-link text-success text-decoration-none" href="https://www.forbes.com/sites/greggardner/2018/03/12/auto-sales-are-down-heres-why-theyll-continue-to-fall/?sh=17674cca2dcb">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">7 things you should know about the 2018 Audi RS 5</h2>
            <p>I'm frustrated. The Arizona desert roads Audi picked for me to drive its track-bred coupe on were picturesque and open, but I found nary a sharp 
                corner to attack. So, I've called in a favor and borrowed a Nardo Gray 2018 Audi RS 5 for some extra drive time.</p>
            <p><a class="btn btn-link text-success text-decoration-none" href="https://www.motorauthority.com/news/1115451_7-things-you-should-know-about-the-2018-audi-rs-5">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">In-Depth BMW X3 review by Car and Driver</h2>
            <p>We've been pretty adamant about the fact that the BMW X3 is one of the best cars currently in BMW's stable. Personally, I feel that it's the most 
                BMW-like car the brand has made in a long time, with a steering and chassis feel that reminds me of old-school Bavarians.</p>
            <p><a class="btn btn-link text-success text-decoration-none" href="https://www.bmwblog.com/2018/03/13/in-depth-bmw-x3-review-by-car-and-driver/">Learn more &raquo;</a></p>
        </section>
    </div>
</main>